// .about__title__hidden{
//     display: none;
// }
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
.about__hero-title{
    font-family: "Tektur", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 16px;
    @include tablet{
        font-size: 64px;
    }
    @include desktop{
        font-size: 72px;
        margin-bottom: 32px;
    }
}

.about__text{
   color: var(--white); 
   font-size: 16px;
   margin-bottom: 40px;
   @include tablet{
   margin-bottom: 33px;
   font-size: 18px;
   }
   @include desktop{
    font-size: 18px;
    margin-bottom: 24px;
   }
}
.about__hero-block{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @include desktop{
    flex-direction: row;
    align-items: center;
    }
}
.about__hero__container{
    display: flex;
    flex-direction: column;
    width: 100%;
    @include tablet{
        width: 380px;
        align-items: flex-start;
    }
    @include desktop{
        width: 380px;
        align-items: flex-start;
    }
}

.about__hero__link{
    width: 243px;
}
.about__offer-container{
    width: 100%;
    border-radius: 24px;
    padding: 24px;
    background-color: var(--white);
    margin-top: 40px;
    @include tablet{
        margin-top: 80px;
    }
    @include desktop{
        margin: 0;
        width: 413px;
    }
}

.about__offer-title{
    font-family: "Fixel Display", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: var(--orange-dark);
    margin-bottom: 16px;
    @include tablet{

    }
    @include desktop{
        font-size: 20px;
    }
}
.about__offer-text{
   color: var(--orange-dark);
}
.about__hero__button{
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    @include tablet{
       width: 243px;
       margin: 0;
    }
    @include desktop{
        width: 243px;
        margin: 0;
    }
}
.about__hero__button:hover,
.about__hero__button:focus{
    background-color: var(--black);
    color: var(--white);
}