
.header{
    position: fixed;
    top: 0;
    // left: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 343px;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:  6px;
    border-radius: 32px;
    margin: 0 auto;
    >.navigation{
        display: none;
    }
    >.header__button{
        display: none;
    }
    >.header__button-second{
        display: none;
    }
    >.button__mobile__menu{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
    }
    @include tablet{
        width: 648px;
        padding: 6px;
        >.navigation{
            display: none;
        }   
        >.button__mobile__menu{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
        }
        >.header__button{
            display: flex;
        }
        >.header__button-second{
            display: flex;
        }
    }
    @include desktop{
        width: 1280px; 
        padding: 6px;
        
        >.navigation{
            display: flex;
            margin-left: 40px;
        }  
        >.header__button{
            display: flex;
        }
        >.header__button-second{
            display: flex;
        }
        >.button__mobile__menu{
            display: none;
        }
    }
}
.icon__menu__mobile{
    fill: var(--white);
    background-color: transparent;

}
.icon__menu__mobile-second{
    fill: var(--black);
}
.logo{
    margin-left: 18px;
    @include tablet{
           margin-right: 210px ;
    }
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.nav__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;  
}
.nav__link{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    height: 43px;
    color: var(--white);
}
.nav__link:hover,
.nav__link:focus{
    border-radius: 24px;
    background-color: var(--white);
    color: var(--black);
}

.header__button{
    background-color: var(--white);
    color: var(--black);
    margin-left: 32px;
}
.header__button:hover,
.header__button:focus{
    background-color: var(--black);
    color: var(--white);
}
.header__second{
    background-color: var(--white);  
}
.nav__link-second{
    color: var(--black);
}
.nav__link-second:hover,
.nav__link-second:focus{
    border-radius: 24px;
    background-color: var(--black);
    color: var(--white);
}

.header__button-second{
    background-color: var(--grey-more-light);
}
.header__button-second:hover,
.header__button-second:focus{
    background-color: var(--black);
    color: var(--white);
}
.active__link{
    border-radius: 24px;
    padding: 16px;
    height: 43px;
    border: 2px solid var(--grey-more-light);
}

.logo__fixed{
    display: none;
}
