.advantages__item{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 24px;
    @include tablet{
        gap: 20px;
    }
    @include desktop{
        gap: 20px;
    }
}
.advantages__list{
   width: 343px;
   padding: 16px;
   background-color: var(--white);
   border-radius: 24px;
   @include tablet{
    width: 314px;
    padding: 24px;
   }
   @include desktop{
    width: 413px;
    padding: 24px;

   }
}
.advantages__subtitle{
    margin-top: 16px;
    margin-bottom: 8px;
    font-family: 'Fixel Display', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: var(--black);
    @include tablet{
        margin-top: 32px;
    }
    @include desktop{
        margin-top: 40px;
    }
}
.advantage__button{
    background-color: var(--black);
    color: var(--white);
    margin: 0 auto;
}
.advantage__button:hover,
.advantage__button:focus{
    background-color: var(--white);
    color: var(--black);
}
