.collection__subtitle{
    font-family: 'Tektur', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: var(--white);
    margin-bottom: 16px;
    @include tablet{
        display: flex;
        font-size: 32px;
        justify-content: flex-start;
    }
    @include desktop{
        font-size: 36px;
    }
}
.collection__text{
    width: 100%;
    margin-bottom: 95px;
    color: var(--white);
    @include tablet{
        width: 410px;
        margin-bottom: 80px;
        // margin-bottom: 32px;
    }
    @include desktop{
        display: flex;
        // justify-content: center;
        // align-items: center;
        width: 400px;
        margin-bottom: 78px;
        text-align: center;
    }
}
.collection__link{
    width: 160px;
    color: var(--white);
    background-color: transparent;
    border:  none;
    border-bottom: 1px solid var(--white); 
}
.collection__link:hover,
.collection__link:focus{
    color: var(--black);
    border-bottom: 1px solid var(--black);
}

.collection__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include tablet{
        flex-direction: column;
    }
    @include desktop{
        flex-direction: row;
    }
}
.collection__block{
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 24px;
    margin-bottom: 24px;
    
}
.collection__block-blue{
    padding: 24px 16px;
    // text-align: start;
    // justify-content: center;
    // align-items: center;
    background: linear-gradient(153deg, #12a1de 0%, #c6ffd9 100%);
    @include tablet{
        width: 100%;
        // justify-content: start;
        // text-align: start;
        padding: 38px;
    }
    @include desktop{
        width: 100%;
        // text-align: center;
        padding: 54px 24px;
    }
}
.collection__block-yellow{
    width: 100%;
    padding: 24px 16px;
    background: linear-gradient(136deg, #f5a609 14.5%, #fff9a8 100%);
    @include tablet{
        width: 100%;
        padding: 38px;
    }
    @include desktop{
        width: 630px;
        padding: 24px 24px;
    }

}
.collection__block-pink{
    width: 100%;
    padding: 24px 16px;
    background: linear-gradient(159deg, #e070a0 0%, #ffc0d5 100%);
    @include tablet{
        width: 100%;
        padding: 38px;
    }
    @include desktop{
        width: 630px;
        padding: 24px 24px;
    }

}
.text__yellow{
    margin-bottom: 78px;
    @include desktop{
        display: flex;
        // align-items: flex-start;
        // justify-items: flex-start;
        margin-bottom: 145px;
        text-align: start;

    }
}
.collection__block-orange{
    text-align: start;
    justify-content: center;
    padding: 24px 16px;
    background: linear-gradient(137deg, #de4f12 12.37%, #f7d385 100%);
    @include tablet{
        width: 100%;
        text-align: start;
        padding: 38px;
    }
    @include desktop{
        // width: 630px;
        width: 100%;
        text-align: center;
        padding: 54px 24px;
    }
}
.collection__block-text{
    display: flex;
    width: 100%;
    // align-items: ;
    flex-direction: column;
    justify-content: center;
    @include desktop{
        align-items: center ;
    }
    
}
.collection__block-text-small{
    align-items: flex-start; 
    justify-content: flex-start;
}
.image__surprise{
    position: absolute;
    bottom: 0;
    right: 0;
}
.image__twin__hero{
    position: absolute;
    bottom: 0;
    right: 0;
    @include tablet{
        right: -7px;
    }
}

.image__baget__white{
    position: absolute;
    transform: rotate(-10deg);
    bottom: 22px;
    right: 17px;
}
.image__popcorn-caramel{
    display: none;
    @include desktop{
        display: block;
        position: absolute;
        bottom: 0;
        left: 1px;
        // transform: rotate(5deg);

    }
    // position: absolute;
    // bottom: 0;
    // left: 2px;
    // height: 300px;
}
.image__popcorn-ready{
    position: absolute;
    bottom: 0;
    right: 0;
}
.image__baget__ketchup{
    display: none;
    @include desktop{
        display: block;
        position: absolute;
        bottom: 24px;
        left: 34px; 
        transform: rotate(5deg);

    }
}