.partners__container{
    width: 375px;
    padding: 48px 16px;
    margin: 0 auto;

    @include tablet{
        width: 744px;
        padding: 48px 48px;
    }
    @include desktop{
        width: 1360px;
        padding: 80px 40px;
    }
}
.marquee__images{
    max-width: 100%;
    display: flex;
    overflow: hidden;
}
.partners__block{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    flex: 0 0 163px;
    height: 64px;
    padding: 5px;
    background-color: var(--white);    
    white-space: nowrap;
    width: 20%;
    @include tablet{
        flex: 0 0 203px;
        height: 80px;
    }
    @include desktop{
        flex: 0 0 289px;
        height: 104px;
    }
}
.partners__blocks-first{
    display: flex;
    flex-direction: row;
    width: 1600%;
    gap: 16px;
    margin-bottom: 16px;
    animation: marquee__images-left 30s linear infinite  alternate;
    @include tablet{
        gap: 20px;
        margin-bottom: 20px;
        animation: marquee__images-left 30s linear infinite  alternate;
    }
    @include desktop{
        gap: 20px;
        margin-bottom: 20px;
        animation: marquee__images-left 30s linear infinite  alternate;
    }
}
.partners__blocks-second{
    display: flex;
    flex-direction: row;
    width: 1600%;
    gap: 16px;
    animation: marquee__images-left 30s linear infinite  alternate;
    @include tablet{
        gap: 20px;
        animation: marquee__images-left 30s linear infinite  alternate;
    }
    @include desktop{
        gap: 20px;
        animation: marquee__images-left 30s linear infinite  alternate;
    }

}

@keyframes marquee__images-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


